#include "GopherCAN_names.h"

// human-readable names
char* name_strings[NUM_OF_PARAMETERS] =
{
    "CAN Command",
    {% for name, param in parameters.items() -%}
    "{{ param.name }}"{% if not loop.last %},{% endif %}
    {% endfor %}
};

// parameter units
char* unit_strings[NUM_OF_PARAMETERS] =
{
    "cmd",
    {% for name, param in parameters.items() -%}
    "{{ param.unit }}"{% if not loop.last %},{% endif %}
    {% endfor %}
};

// parameter types
PARAM_TYPE_t param_types[NUM_OF_PARAMETERS] = 
{
	CMD,
    {% for name, param in parameters.items() -%}
	{{ type_names[param.type] }}{% if not loop.last %},{% endif %}
    {% endfor %}
};
