// start of GopherCAN_ids.c
//  These files are used in GopherCAN.c using an extern in GopherCAN_ids.h

#include "GopherCAN.h"

// all of the global parameter structs
CAN_COMMAND_STRUCT can_command;
{% for parameter in parameters -%}
{{ type_struct[parameter.type] }} {{ parameter.name }};
{% endfor %}

// this is the struct that will be used to reference based on ID
void* all_parameter_structs[NUM_OF_PARAMETERS] =
{
    &can_command,
    {% for parameter in parameters -%}
    &{{ parameter.name }}{% if not loop.last %},{% endif %}
    {% endfor %}
};

// this stores the data_type for each parameter, referenced by ID
U8 parameter_data_types[NUM_OF_PARAMETERS] =
{
    COMMAND,
    {% for parameter in parameters -%}
    {{ parameter.type }}{% if not loop.last %},{% endif %}
    {% endfor %}
};

// if there are multiple busses, this shows which bus they are on
#ifdef MULTI_BUS
U8 module_bus_number[NUM_OF_MODULES] =
{
    ALL_BUSSES,
    {% for module in modules -%}
    {{ module.busses[0] }}{% if not loop.last %},{% endif %}
    {% endfor %}
};
#endif // MULTI_BUS

// End of GopherCAN_ids.c

